*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
	right: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
    background-color: #355c7d;
    text-align: center;
	line-height: 50px;
}

/* Nav Section */

.nav-item {
	display: inline-block;
	margin-right: 12px;
}
#header-inner .sub-menu:hover .sub-menu-icon{
	color: rgba(255, 255, 255, 0.7);
}

.nav-item a {
	color: #bbe2e8;
	text-decoration: none;
	letter-spacing: 1px;
    padding: 0 10px;
	position: relative;
	font-size: 15px;
}

.nav-item a:after {
	content: "";
	position: absolute;
	background-color: #fff;
	height: 1px;
	width: 0;
	left: 0;
	bottom: -6px;
	transition: 0.1s;
}

.nav-item a:hover:after{
	width: 100%;
}

/* About Section */

#homepage {
	padding: 80px 0;
}

.homepage-section {
	background-color: #738678;	
	color: #000100 ;
}

.content-section {
	width: 100%;
	height: 90vh;
	max-width: 100%;
    margin: 50px auto;
}

.homepage-heading {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.homepage-text{
	text-align: center;
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
	font-weight: 500;
}
.homepage-des {
	text-align: center;
	font-size: 1.5rem;
	max-width: 600px;
	margin: 35px auto;
	font-weight: 700;
	color: #800000;
	
}

